<div class="container text-center">

    <h1>About</h1>
    <p>We are DevMatch. We focus on creating an exclusive community for 
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, suscipit consectetur debitis explicabo placeat eum recusandae fugiat a maiores ut. Cum, aut at minima deserunt debitis est velit laudantium saepe.</p>

</div>