<div class="container text-center">

    <h1>About</h1>
    <p> Test site. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, suscipit consectetur debitis explicabo placeat eum recusandae fugiat a maiores ut. Cum, aut at minima deserunt debitis est velit laudantium saepe.</p>

</div>